<!--<header class="bar bar-header bar-positive"></header>-->
<ion-view>
    <ion-content style="margin-bottom: 40px;padding-top: 10px;padding-left: 1%;">

        <!--<div id="rightDisplay" ng-if="bigImage"-->
             <!--style="position: fixed;z-index: 10; width: 100%;height: 100%;background-color: rgba(0,0,0,0.7);"-->
             <!--ng-click="hideBigImage()">-->
            <!--<img class="img-responsive"-->
                 <!--style="position: absolute;top: 40%;left: 50%;z-index: 10;display: block;margin-top: 18px;object-fit: cover;-->
         <!--margin-left: -165px;width: 90%; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);"-->
                 <!--ng-src="data:image/jpg;base64,{{Url}}"/>-->

        <!--</div>-->

        <!--<ion-list>-->
        <!--<ion-item ng-repeat="journal in journalList">-->

        <!--<a class="item item-thumbnail-left" href="#">-->
        <!--<img ng-src="data:image/jpg;base64,{{journal.file}}" style="object-fit: cover">-->
        <!--<h2>Weezer</h2>-->
        <!--<p>Blue Album</p>-->
        <!--</a>-->
        <!--</ion-item>-->
        <!--</ion-list>-->

        <a ng-repeat="gallery in galleryList">
            <img ng-src="data:image/jpg;base64,{{gallery.file}}"  ng-click="showImgAlert(gallery.file,gallery.fileName)"
                 style="object-fit: cover;width: 32%;height: 120px;border-radius: 3px">
        </a>

        <ion-infinite-scroll ng-if="isLoadMore" on-infinite="loadMore()" immediate-check="false" distance="1%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>

