<ion-view>
    <ion-content >
        <a class="button button-icon icon ion-ios-arrow-left" ui-sref="main.gallery"> 返回</a>

        <div class="list list-inset" style="margin-top: 0px">
            <form>
                <label class="item item-input">
                    <input type="text" placeholder="图片名" ng-model="$parent.galleryname">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="图片描述" ng-model="$parent.galleryDescribe">
                </label>
                <label class="item item-input">
                    <input id="fileUpload" type="file"/>
                </label>
                <div class="button-bar" style="margin-top: 10px;padding: 10px">
                    <button class="button button-positive" ng-click="insertGallery()">添加相册</button>
                </div>
            </form>
        </div>
        <!--<div class="list">-->
        <!--<label class="item item-input item-stacked-label">-->
        <!--<input id="fileUpload" type="file"/>-->
        <!--</label>-->
        <!--<button ng-click="insert('../../file/insertImage')">上传图片</button>-->
        <!--<br>-->
        <!--<button ng-click="insert('../../file/insertFile')">上传文件</button>-->
        <!--<br>-->
        <!--<button ng-click="showFile()">下载文件</button>-->
        <!--<br>-->
        <!--<button ng-click="showImage()">显示图片</button>-->
        <!--<br>-->
        <!--<button ng-click="insertGallery()">添加相册</button>-->
        <!--<br>-->
        <!--</div>-->

    </ion-content>
</ion-view>