<ion-view>
    <ion-content style="margin-bottom: 40px;padding-top: 10px;padding-left: 1%;">

        <a ng-repeat="gallery in galleryList">
            <img ng-src="data:image/jpg;base64,{{gallery.file}}" on-hold="alertMenu(gallery.fileId,gallery.fileName,gallery.galleryId)" ng-click="showImgAlert(gallery.file,gallery.fileName)"
                 style="object-fit: cover;width: 32%;height: 120px;border-radius: 3px">
        </a>

        <ion-infinite-scroll ng-if="isLoadMore" on-infinite="loadMore()" immediate-check="false" distance="1%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>

