<ion-view>
    <ion-content class="ion-contentFit">
        <a class="button button-icon icon ion-ios-arrow-left" ui-sref="main.gallery"> 返回</a>

        <div class="list list-inset" style="margin-top: 0px">
            <form>
                <label class="item item-input">
                    <input type="text" placeholder="图片名" ng-model="$parent.galleryname">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="图片描述" ng-model="$parent.galleryDescribe">
                </label>
                <label class="item item-input">
                    <input id="fileUpload" type="file" accept="image/*"/>
                </label>
                <div class="button-bar" style="margin-top: 10px;padding: 10px">
                    <button class="button button-positive" ng-click="insertGallery()">添加相册</button>
                </div>
            </form>
        </div>

    </ion-content>
</ion-view>