<div class="header">
    <!--顶部导航-->
    <div class="header_top">
        <div class="w1200">
            <div class="h_t_l">
                <div class="login_l" ng-if="!isLogin">
                    <span>欢迎来到服装销售!</span>
                    <a class="a_login" ui-sref="public.login({url:'public.main'})">[登录]</a>
                    <span class="line"></span>
                    <a ui-sref="public.register">[注册]</a>
                </div>
                <div class="login_l" ng-if="isLogin">
                    <span>欢迎来到服装销售!</span>
                    <a class="a_login" ui-sref="public.user.userInfo">[{{user_info.user_name}}]</a>
                    <span class="line"></span>
                    <a href="javascript:void(0)" ng-click="quitLogin()">[退出登录]</a>
                </div>
            </div>
            <div class="h_t_r">
                <ul>
                    <li>
                        <a ui-sref="public.user.orderInfo">订单查询</a>
                        <span class="line"></span>
                    </li>
                    <li>
                        <a ui-sref="public.user.shopCart"><i class="fa fa-cart-plus"></i>&nbsp;购物车</a>
                        <span class="line"></span>
                    </li>
                    <li>
                        <a ui-sref="public.user.collect"><i class="fa fa-star"></i>&nbsp;收藏夹</a>
                        <span class="line"></span>
                    </li>
                    <li class="cus_c_box">
                        <a href="">客服中心</a>
                        <div class="cus_center">
                            <a href="">帮助中心</a>
                            <a href="">会员反馈</a>
                        </div>
                        <span class="line"></span>
                    </li>
                    <li>
                        <a href="../app"><i class="fa fa-gear"></i>&nbsp;后台管理</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--搜索-->
    <div class="full_sc">
        <div class="w1200 header_conter">

            <div style="width: 25%;float: left;height: 85px;text-align: center;">
                <a ui-sref="public.main"><img src="images/main/main_left.png" style="width: 90%;height: 100%;object-fit: cover;border: 1px solid lightgrey"></a>
            </div>

            <div style="width: 50%;float: left">
                <div class="mainindex">
                    <input type="text" class="input_text" placeholder="商品名" ng-model="search_goods_name">
                    <button class="button input_sub" ng-click="searchGoods(search_goods_name,'','')">搜索</button>
                </div>
                <div class="search_key">
                    <ul>
                        <li ng-repeat="category in categoryList">
                            <a href="" ng-click="searchGoods('',category.category_id,'')" target="_blank">{{category.category_name}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div style="width: 25%;float: left;height: 85px;text-align: center;">
                <img src="images/main/main_right.png" style="width: 90%;height: 100%;object-fit: cover;border: 1px solid lightgrey">
            </div>

        </div>
    </div>
</div>

<!--下拉搜索-->
<!--<div id="nav" class="search_fixed">-->
    <!--<div class="w1200">-->
        <!--<div class="s_fixed_l"><img src="XX" style="width: 36px;height: 36px"/></div>-->
        <!--<div class="s_fixed_r">-->
            <!--<input placeholder="商品名" autocomplete="off" class="txt_f_sb" name="keyword" type="text" ng-model="search_spuName">-->
            <!--<input value="搜索" class="f_btn_search" style="cursor:pointer" type="button" ng-click="searchGoods()">-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div ui-view></div>

<!--底部公用-->
<div class="footer">
    <div class="footer_b"></div>
    <div class="footer_nav">
        <div class="w720">
            <ul>
                <li>
                    <a href="">关于我们 </a>
                    <span class="line"></span>
                </li>
                <li>
                    <a href="">投资者关系 </a>
                    <span class="line"></span>
                </li>
                <li>
                    <a href="">建议反馈 </a>
                    <span class="line"></span>
                </li>
                <li>
                    <a href="">联系我们 </a>
                    <span class="line"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="w1200">
            <p>
                <span class="font_arial">Copyright© 2019-2020 XXX. All Rights Reserved </span>
                免费服务热线: 111-111-1111 | 固话也可拨打: 111-111-1111
                <span class="font_arial">E-Mail: XXX@qq.com</span><br>
                渝ICP备123456号 信息网络传播视听节目许可证号：123456
            </p>
            <p class="footer_b" style="height: 50px"></p>
        </div>
    </div>
</div>
