<div class="main" style="height: 600px;margin-top: 20px">
    <div class="container-fluid" style="height: 100%;">
        <div class="card">

            <div class="card-title">
                <h4><i class="fa fa-user-o color-info"></i> 用户</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 input-group">
                        <input class="form-control" placeholder="用户名" type="text" ng-model="selectParams.user_name">
                        <span class="input-group-btn"><button class="btn btn-sm btn-primary" ng-click="searchUser()"><i
                                class="ti-search"></i></button></span>
                    </div>
                </div>

                <div class="table-responsive" style="margin-top: 10px">
                    <table class="table table-bordered table-striped">
                        <thead class="text-center">
                        <tr>
                            <th>序号</th>
                            <th>头像</th>
                            <th>用户名</th>
                            <th>邮箱</th>
                            <th>联系电话</th>
                            <th>上次登录时间</th>
                            <th style="text-align: center">创建时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" ng-repeat="memberUser in memberUserList">
                            <th scope="row">{{$index+1}}</th>
                            <td><img ng-src="data:image/jpg;base64,{{memberUser.file_content}}"
                                     style="object-fit: cover;height: 40px;width: 40px"></td>
                            <td class="color-primary font-weight-bold">{{memberUser.user_name}}</td>
                            <td class="color-info font-weight-bold">{{memberUser.email}}</td>
                            <td>{{memberUser.phone_number}}</td>
                            <td>{{memberUser.login_datetime | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                            <td class="text-center">{{memberUser.gmt_create | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                        </tr>
                        <tr ng-if="memberAdminList.length<=0">
                            <td colspan="15" style="text-align:center">暂无数据</td>
                        </tr>
                        </tbody>
                    </table>

                    <ul uib-pagination class="pagination-md pagination-custom float-right" style="margin-right: 20px"
                        total-items="selectParams.totalNum"
                        first-text="«"
                        last-text="»"
                        previous-text="上一页"
                        next-text="下一页"
                        force-ellipses="true"
                        max-size="5"
                        ng-change="loadData()"
                        rotate="true"
                        ng-model="selectParams.pageNum"
                        items-per-page="selectParams.pageSize"
                        class="pagination-sm page-right" boundary-links="true" boundary-link-numbers="true"></ul>

                </div>
            </div>


        </div>
    </div>
</div>