<!--菜单-->
<div class="full_nav">
    <div class="w1200">
        <ul class="nav_head">
            <li class="li_all_type" ng-mouseover="showList = true">
                <i class="fa fa-th-list"></i>
                <span>全部分类</span>
            </li>
            <li class="home">
                <a href="index.html" style="color: #C41F3A;">首页</a>
            </li>
            <li ng-repeat="activityInfo in activityInfoList">
                <a ui-sref="public.activityInfo({activity_id:activityInfo.activity_id,activity_name:activityInfo.activity_name})">{{activityInfo.activity_name}}</a>
            </li>
        </ul>
    </div>
</div>
</div>
<!--头部end-->
<!--轮播区域-->
<div class="full_big_eye">
    <!--菜单-->
    <div class="index_type" ng-show="showList">
        <ul class="index_type_ul" ng-mouseover="showList = true" ng-mouseleave="showList = false">
            <li ng-repeat="categoryFirst in categoryFirstList" style="cursor: pointer">
                <div ng-mouseover="selectCategory(categoryFirst.category_first_id)">
                    <span>{{categoryFirst.category_first_name}}<b>></b></span>
                </div>
                <div class="nav_type_list">
                    <ul>
                        <li ng-repeat="category in categoryList">
                            <a ui-sref="public.search({category_id:category.category_id})" target="_blank"
                               style="font-weight: bold">{{category.category_name}}</a>
                        </li>
                        <li ng-if="categoryList.length == null">
                            <a href="javascript:void(0);" target="_blank" style="font-weight: bold">暂无商品</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!--菜单-->
    <!--轮播图-->
    <div class="full_eye">
        <div id="demo" class="carousel slide" data-ride="carousel" data-interval="4000" style="padding-top: 20px">

            <!-- 指示符 -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- 轮播图片 -->
            <div class="carousel-inner" style="height: 400px;overflow: hidden">
                <div class="carousel-item active">
                    <img src="./images/main/main_7.jpg" style="width: 100%;object-fit: cover">
                </div>
                <div class="carousel-item">
                    <img src="./images/main/main_6.jpg" style="width: 100%;object-fit: cover">
                </div>
                <div class="carousel-item">
                    <img src="./images/main/main_5.jpg" style="width: 100%;object-fit: cover">
                </div>
            </div>

            <!-- 左右切换按钮 -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </div>
    <!--轮播图-->
</div>
<!--轮播区域-->
<!--商品区-->
<div class="w1200" style="margin-top: 50px">
    <ul class="her_menu her_title">
        <li ng-repeat="activityInfo in activityInfoList" ng-class="{'current':tabsSign == $index}"
            ng-click="changeTabs($index,activityInfo.activity_id)">
            <i class="yesto_icon"></i>
            {{activityInfo.activity_name}}
            <i class="jx_icon_down"></i>
        </li>
    </ul>
    <div class="goods">
        <ul class="row goods_ul">
            <li class="goods_li" ng-repeat="activitySpu in activitySpuList">
                <div style="position: relative;">
                    <a ui-sref="public.goodsItem({spu_id:activitySpu.spu_id})">
                        <span class="badge badge-primary goods_badge" style="background-color: #f40;">{{activityInfoList[tabsSign].activity_name}}</span>
                        <img ng-src="data:image/jpg;base64,{{activitySpu.file_content}}" title="{{activitySpu.goods_name}}"
                             style="width: 100%;height: 200px;overflow: hidden"/>
                        <p style="width:100%;color: gray;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
                            {{activitySpu.goods_name}}</p>
                    </a>
                </div>
                <span style="font-weight: bold;color: #fd3f31">￥{{activitySpu.low_price}}</span>
                <span style="font-weight: lighter;font-size:12px;color: gray;float: right">月销1.2万件</span>
            </li>
        </ul>
    </div>
    <!--第四区-->
    <div class="day_box">
        <div class="qinha_title">
            <div class="v_h2">
                <p class="h2_top">今日推荐</p>
            </div>
        </div>
        <ul class="day_goods">
            <li ng-repeat="spu_today in spuList_today">
                <a ui-sref="public.goodsItem({spu_id:spu_today.spu_id})" title="{{spu_today.goods_name}}"
                   class="a_con_list">
                    <p class="p_img"><img ng-src="data:image/jpg;base64,{{spu_today.file_content}}"
                                          title="{{spu_today.goods_name}}"/></p>
                    <p class="p_title">
                        <span>{{spu_today.goods_name}}</span>
                    </p>
                    <p class="p_p">
                        <span class="price1">￥<span>{{spu_today.low_price}}</span></span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <!--第四区-->
</div>
<!--商品区-->