<ion-view>
    <ion-content class="ion-contentFit">
        <div class="list">
            <div class="item item-select">
                <div class="input-label">文件类型</div>
                <select class="item-select" ng-model="$parent.selectParams.fileType">
                    <option value="">--全部--</option>
                    <option value="docx">docx</option>
                    <option value="txt">txt</option>
                    <option value="jpg">jpg</option>
                    <option value="png">png</option>
                </select>
            </div>
            <div class="item item-input">
                <input type="text" placeholder="文件名" ng-model="$parent.selectParams.fileName">
            </div>
            <div class="button-bar">
                <button class="button button-positive" ng-click="selectFiles()">搜索</button>
            </div>
        </div>

        <ion-list>
            <ion-item ng-repeat="file in fileList">
                <a class="item item-thumbnail-left item-icon-right" on-hold="showFilesMenu(file.fileid,file.filename)">
                    <img ng-src="{{file.file}}" ng-if="isImage(file.filetype)" style="object-fit: cover">
                    <img src="images/main/file.png" ng-if="!isImage(file.filetype)" style="object-fit: cover">
                    <h2>{{file.filename}}</h2>
                    <p>{{file.filetype}}</p>
                    <i class="icon ion-android-download" style="color: green" ng-click="downloadFile(file.fileid)"></i>
                </a>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll ng-if="isLoadMore" on-infinite="loadMore()" immediate-check="false" distance="1%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
