<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>music</title>
    <link rel="shortcut icon" href="../../images/favicon.ico"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>

<div ng-app="musicApp" ng-controller="musicCtrl" style="margin-top: 65px">

    <!--{{tip}}-->
    <button ng-click="addMusic()">增加歌曲</button>

    <form class="needs-validation" novalidate style="margin: 10px">
        <div class="form-row col-5" style="margin: 0 auto">
            <div class="input-group">
                <input class="form-control mr-sm-2" ng-model="selectparams.musicName" placeholder="音乐名"
                       aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="button" ng-click="selectmusic()">搜索</button>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped" style="width: 80%;margin: 0 auto">
        <thead>
        <tr>
            <th scope="col">编号</th>
            <th scope="col">歌曲名</th>
            <th scope="col">歌手</th>
            <th scope="col">大小</th>
            <th scope="col">添加日期</th>
            <th scope="col">播放</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="music in allmusic">
            <th scope="row">{{$index+1}}</th>
            <td>{{music.musicName}}</td>
            <td>{{music.singer}}</td>
            <td>{{music.musicSize}}</td>
            <td>{{music.putDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td><audio ng-src="{{sce(music.musicPath)}}" controls="controls"></audio></td>
            <!--<td><a href="{{sce(music.musicPath)}}" download="{{getMusicNameByUrl(music.musicPath)}}"><img src="../../images/download.png" style="width: 20px;height: 20px"></a></td>-->
        </tr>
        </tbody>
    </table>

    <ul uib-pagination class="pagination-md pagination-custom"
        total-items="selectparams.totalNum"
        first-text="«"
        last-text="»"
        previous-text="上一页"
        next-text="下一页"
        force-ellipses="true"
        max-size="5"
        ng-change="selectmusic()"
        rotate="true"
        ng-model="selectparams.pageNum"
        items-per-page="selectparams.pageSize"
        class="pagination-sm page-right" boundary-links="true" boundary-link-numbers="true" ></ul>

    <!-- 回到顶部按钮 -->
    <a href="javascript:window.scrollTo({top:0,behavior:'smooth'})"
       style="position: fixed;display: block;right: 80px;bottom: 80px;z-index:9999;"><img src="../../images/toTop.ico"
                                                                                          style="width: 40px;height: 40px"></a>

</div>


</body>

<script type="text/javascript" src="../../js/jquery2.2.2.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/angular.min.js"></script>
<script type="text/javascript" src="../../js/music.js"></script>
<script type="text/javascript" src="../../js/ui-bootstrap-tpls.js"></script>

</html>