<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clothSale.mapper.GoodsCategoryMapper">
    <resultMap id="BaseResultMap" type="com.clothSale.model.GoodsCategory">
        <id column="category_id" property="categoryId" jdbcType="VARCHAR"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="category_order" property="categoryOrder" jdbcType="INTEGER"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_update" property="gmtUpdate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    category_id, category_name, category_order, gmt_create, gmt_update
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from goods_category
        where category_id = #{categoryId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from goods_category where category_id = #{categoryId,jdbcType=VARCHAR};
    delete from goods_spec_category where category_id = #{categoryId,jdbcType=VARCHAR};
    delete from goods_sku_spec_value where sku_id in (select sku_id from goods_sku where spu_id in (select spu_id from goods_spu where category_id = #{categoryId,jdbcType=VARCHAR}));
    delete from goods_sku where spu_id in (select spu_id from goods_spu where category_id = #{categoryId,jdbcType=VARCHAR});
    delete from goods_spu where category_id = #{categoryId,jdbcType=VARCHAR};
  </delete>
    <insert id="insert" parameterType="com.clothSale.model.GoodsCategory">
    insert into goods_category (category_id, category_name, category_order,
      gmt_create, gmt_update)
    values (#{categoryId,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, #{categoryOrder,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.clothSale.model.GoodsCategory">
        insert into goods_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="categoryName != null">
                category_name,
            </if>
            <if test="categoryOrder != null">
                category_order,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtUpdate != null">
                gmt_update,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                #{categoryId,jdbcType=VARCHAR},
            </if>
            <if test="categoryName != null">
                #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="categoryOrder != null">
                #{categoryOrder,jdbcType=INTEGER},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtUpdate != null">
                #{gmtUpdate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.clothSale.model.GoodsCategory">
        update goods_category
        <set>
            <if test="categoryName != null">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="categoryOrder != null">
                category_order = #{categoryOrder,jdbcType=INTEGER},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtUpdate != null">
                gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where category_id = #{categoryId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.clothSale.model.GoodsCategory">
    update goods_category
    set category_name = #{categoryName,jdbcType=VARCHAR},
      category_order = #{categoryOrder,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP}
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </update>

    <select id="selectGoodsCategory" resultType="java.util.Map">
        select *,(select count(*) from goods_category where 1 = 1
        <if test="categoryName != null and categoryName != ''">
            and category_name like concat('%',#{categoryName},'%')
        </if>) as total from goods_category
        where 1 = 1
        <if test="categoryName != null and categoryName != ''">
            and category_name like concat('%',#{categoryName},'%')
        </if>
        order by category_order limit #{pageIndex},#{pageSize}
    </select>

    <insert id="insertCategoryFirst">
    insert into goods_category_first (category_first_id, category_first_name, category_first_order,
      gmt_create, gmt_update)
    values (#{categoryFirstId,jdbcType=VARCHAR}, #{categoryFirstName,jdbcType=VARCHAR}, #{categoryFirstOrder,jdbcType=INTEGER},
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP})
  </insert>

    <select id="selectGoodsCategoryFirst" resultType="java.util.Map">
        select *,(select count(*) from goods_category_first where 1 = 1
        <if test="categoryFirstName != null and categoryFirstName != ''">
            and category_first_name like concat('%',#{categoryFirstName},'%')
        </if>) as total from goods_category_first
        where 1 = 1
        <if test="categoryFirstName != null and categoryFirstName != ''">
            and category_first_name like concat('%',#{categoryFirstName},'%')
        </if>
        order by category_first_order limit #{pageIndex},#{pageSize}
    </select>


</mapper>