<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Aurora--晨光</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="css/index/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- gallery light box -->
    <link rel="stylesheet" href="css/index/lightbox.css">
    <link href="css/index/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="css/index/font-awesome.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- web-fonts -->
    <!-- logo -->
    <link href="http://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <!-- body -->
    <link href="http://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- //web-fonts -->
    <!-- Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body ng-app="auroraApp" ng-controller="auroraCtrl">
<!-- header -->
<div class="w3_navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="w3_navigation_pos">
                    <h1>
                        <a href="">Aurora
                            <span>晨光</span>
                        </a>
                    </h1>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav class="menu menu--miranda">
                    <ul class="nav navbar-nav menu__list">
                        <li class="menu__item menu__item--current">
                            <a href="" class="menu__link">Home</a>
                        </li>
                        <li class="menu__item">
                            <a href="#about" class="scroll menu__link">about</a>
                        </li>
                        <li class="menu__item">
                            <a href="#services" class="scroll menu__link">services</a>
                        </li>
                        <li class="menu__item">
                            <a href="#plans" class="scroll menu__link">日志</a>
                        </li>
                        <li class="menu__item">
                            <a href="#gallery" class="scroll menu__link">相册</a>
                        </li>
                        <li class="menu__item">
                            <a href="#contact" class="scroll menu__link">contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- //header -->
<div class="banner-bg-agileits">
    <div class="banner-dot">
        <!-- banner-text -->
        <div class="banner-text">
            <fieldset>
                <legend>
                    <h2>Aurora</h2>
                </legend>
                <div class="banner-sub-txt">
                    <!-- 无论如何,拥抱活得一团糟的自己 -->
                    <span class="banner-txt">Embrace the glorious mess that you are.</span>
                    <span class="banner-txt1">hopeful</span>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- about -->
<div class="jarallax agileits-about agile-section" id="about">
    <div class="container">
        <span class="wthree-line wthree-left"></span>
        <h3 class="agileits-title text-center">about us</h3>
        <div class="w3agile-about">
            <div class="col-md-6 col-sm-6  w3_agileits-about-left">
                <div class="agile-about-left">
                    <h4 class="agileits-title">lorem</h4>
                    <p>This is dummy text</p>
                </div>
                <div class="w3_agileits-about-bottom">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 w3_agileits-about-right">
                <span class="w3ls-abt"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin et velit pellentesque
                    dictum. Integer convallis
                    blandit odio eu gravida. Vestibulum fringilla arcu non eros egestas, ut hendrerit mauris dictum.
                    Suspendisse at justo
                    quis neque aliquam ullamcorper auctor vitae enim.</p>
                <span class="w3ls-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin lectus et velit pellentesque dictum.</span>
                <ul class="w3l-list">
                    <li>
                        <span class="w3ls-type fa fa-angle-double-right" aria-hidden="true"></span>Lorem ipsum dolor
                    </li>
                    <li>
                        <span class="w3ls-type fa fa-angle-double-right" aria-hidden="true"></span>Lorem ipsum dolor
                    </li>
                    <li>
                        <span class="w3ls-type fa fa-angle-double-right" aria-hidden="true"></span>Lorem ipsum dolor
                    </li>
                    <li>
                        <span class="w3ls-type fa fa-angle-double-right" aria-hidden="true"></span>Lorem ipsum dolor
                    </li>
                    <li>
                        <span class="w3ls-type fa fa-angle-double-right" aria-hidden="true"></span>Lorem ipsum dolor
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--services-->
<div class="agileits-services agile-section" id="services" style="background: url('images/index/service_back.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;">
    <div class="container">
        <h3 class="agileits-title text-center">services</h3>
        <div class="agileits-services-row">
            <div class="col-md-3 col-sm-6 agileits-services-grids">
                <div class="service-grid1">
                    <span class="fa fa-phone effect-1" aria-hidden="true"></span>
                    <h4>service1</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 agileits-services-grids">
                <div class="service-grid1">
                    <span class="fa fa-user effect-1" aria-hidden="true"></span>
                    <h4>service2</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 agileits-services-grids">
                <div class="service-grid1">
                    <span class="fa fa-list-alt effect-1" aria-hidden="true"></span>
                    <h4>service3</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 agileits-services-grids">
                <div class="service-grid1">
                    <span class="fa fa-check effect-1" aria-hidden="true"></span>
                    <h4>service4</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//services-->
<!-- packages -->
<div class="packages agile-section" id="plans">

    <div class="container">
        <h3 class="agileits-title text-center"><a href="">日志</a></h3>
        <div class="package-grids gallery-index">
            <div class="col-md-4 col-sm-4 col-xs-6 text-center pricing" ng-repeat="journal in journalList">
                <div class="w3layouts-tr-price">
                    <span class="sicon" ng-class="{'text-orange':journal.weather == '晴','text-lightBlue':journal.weather == '雨',
                          'text-gray':journal.weather == '阴','text-ghostWithe':journal.weather == '雪'}">
                        {{journal.weather}}</span>
                    <p>{{journal.temperature}}℃</p>
                </div>
                <div class="price-top">
                    <img ng-src="data:image/jpg;base64,{{journal.file}}" title="{{journal.fileName}}" alt=""
                         class="img-responsive"/>
                    <h3>{{journal.putDate | date:'yyyy/MM/dd'}}</h3>
                </div>
                <div class="price-bottom">
                    <ul>
                        <li>
                            <b>{{journal.title}}</b>
                        </li>
                        <li>
                            <p>{{journal.content}}</p>
                            <p style="text-align: right;color: #5bc0de">{{journal.putDate | date:'yyyy-MM-dd
                                HH:mm:ss'}}</p>
                        </li>
                    </ul>
                    <div class="tr-button">
                        <a href="#">详细</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //package -->
<!-- gallery -->
<div class="agile-section gallery" id="gallery">
    <div class="container">
        <h3 class="agileits-title text-center"><a href="">相册</a></h3>
        <!--{{galleryList}}-->
        <div class="gallery-grids-top">
            <div class="gallery-grids agileits-w3layouts">
                <div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img" ng-repeat="gallery in galleryList">
                    <a class="example-image-link w3-agilepic" ng-href="data:image/jpg;base64,{{gallery.file}}"
                       data-lightbox="example-set"
                       data-title="">
                        <img class="example-image img-responsive" style="width: 365px;height: 200px;object-fit: cover"
                             ng-src="data:image/jpg;base64,{{gallery.file}}" title="{{gallery.fileName}}" alt=""/>
                        <div class="w3ls-overlay">
                            <p style="font-size: 25px;color: white;position: fixed;top: 80px;left: 160px">
                                {{gallery.galleryName}}</p>
                            <p style="text-align: right;color: #5bc0de;position: fixed;bottom: 0;right: 10px">
                                {{gallery.putDate | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- //gallery -->
<!--team-->
<div class="jarallax team agile-section" id="team">
    <div class="container">
        <h3 class="agileits-title text-center">our team</h3>
        <div class="col-md-7 col-sm-7 w3_agileits-team-head">
            <h5>ipsa molest
                <br>minuslaborum velit</h5>
            <p class="w-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Mauris ex nulla aliquam ornare
                facilisis nec Sit accusamus, vel
                blanditiis iure minima ipsa molestias minus laborum velit, nulla nisi hic quasi enim </p>
            <div class="w3-team w3l-button">
                <a href="#" data-toggle="modal" data-target="#myModal">know more about team</a>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 team-row">
            <div class="col-sm-6 team-grids">
                <h5>Hiller</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipi est eligendi scing elit consectetur</p>
                <div class="abt-social-icons">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
                <div class="team-img">
                    <img src="images/index/t2.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-sm-6 team-grids team-mdl">
                <h5>Ramsey</h5>
                <p>Consectetur adipi lorem ipsum dolor sit amet, est eligendi scing elit consectetur.</p>
                <div class="abt-social-icons">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
                <div class="team-img">
                    <img src="images/index/t1.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-sm-6 team-grids team-mdl1">
                <h5>Huffman</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipi est eligendi scing elit consectetur.</p>
                <div class="abt-social-icons">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
                <div class="team-img">
                    <img src="images/index/t3.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-sm-6 team-grids">
                <h5>Elena</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipi est eligendi scing elit consectetur.</p>
                <div class="abt-social-icons">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
                <div class="team-img">
                    <img src="images/index/t4.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--//team-->
<!-- testimonial -->
<div class="test agile-section" id="testimonials">
    <div class="container">
        <h3 class="agileits-title text-center">Testimonials</h3>
        <div class=" test-gri1">
            <div id="owl-demo2" class="owl-carousel">
                <div class="test-grid1">
                    <div class="col-md-8">
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.</p>
                        <h4>Andery</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="images/index/ts1.jpg" alt="" class="img-r">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="agile">
                    <div class="test-grid1">
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua</p>
                            <h4>Congue</h4>
                        </div>
                        <div class="col-md-4">
                            <img src="images/index/ts2.jpg" alt="" class="img-r">
                        </div>
                    </div>
                </div>
                <div class="agile">
                    <div class="test-grid1">
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua.</p>
                            <h4>magna</h4>
                        </div>
                        <div class="col-md-4">
                            <img src="images/index/ts3.jpg" alt="" class="img-r">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- //contact -->
<!-- footer -->
<div class="footer-cpy text-center">
    <div class="social_banner">
        <ul class="social_list">
            <li>
                <a href="#" class="facebook">
                    <span class="fa fa-facebook" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="#" class="twitter">
                    <span class="fa fa-twitter" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="#" class="dribble">
                    <span class="fa fa-dribbble" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="#" class="vimeo">
                    <span class="fa fa-vimeo" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-copy">
        <p>
            others
            <a href="http://www.shanshaoxy.cn/Student">student</a>
            <a href="http://www.shanshaoxy.cn/Resource">resource</a>
            <a href="http://www.shanshaoxy.cn/library">library</a>
            <a href="http://www.shanshaoxy.cn/HR">hr</a>
        </p>
        <p>Copyright &copy; 2019.Welcome to <a href="http://www.shanshaoxy.cn/">here</a> - Good lucky to you</p>
    </div>
</div>
<!--//footer-->
<!-- js -->
<script src="js/index/jquery-2.2.3.min.js"></script>
<!-- //js -->
<!-- gallery light box -->
<script src="js/index/lightbox-plus-jquery.min.js"></script>
<!-- testimonials-->
<script src="js/index/owl.carousel.js"></script>
<link href="css/index/owl.carousel.css" rel="stylesheet">
<!-- requried-jsfiles-for owl -->
<script>
    $(document).ready(function () {
        $("#owl-demo2").owlCarousel({
            items: 1,
            lazyLoad: false,
            autoPlay: true,
            navigation: false,
            navigationText: false,
            pagination: true,
        });
    });
</script>
<!-- //requried-jsfiles-for owl -->
<!-- //testimonials -->
<!-- start-smooth-scrolling -->
<script src="js/index/move-top.js"></script>
<script src="js/index/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script>
    $(document).ready(function () {
        /*
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };
        */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!--<script src="js/index/SmoothScroll.min.js"></script>-->
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-ui-router.min.js"></script>
<script src="js/angular/ocLazyLoad.min.js"></script>
<script src="js/app.js"></script>
<script src="js/index/bootstrap.js"></script>
</body>
</html>