<div class="main" style="height: 650px;margin-top: 20px">
    <div class="container-fluid" style="height: 100%;">
        <div class="card">
            <div class="card-title">
                <h4><i class="fa fa-cart-plus color-info"></i> 进货</h4>
            </div>
            <ul class="nav nav-tabs">
                <li ng-class="{'active': addSkuType == 1}"><a href="" ng-click="addSkuType = 1">已有服饰</a></li>
                <li ng-class="{'active': addSkuType == 2}"><a href="" ng-click="addSkuType = 2 ; addSpuStep = 1">新进服饰</a></li>
            </ul>
            <div class="card-body" ng-if="addSkuType==1">
                <form name="editForm" role="form" id="editForm" autocomplete="off" ng-submit="updateSku()">
                    <div class="row">
                        <div class="col-md-6 input-group">
                            <select class="form-control" ng-model="selectParams.category_id" ng-change="searchSpu()">
                                <option value="">--请选择类别--</option>
                                <option ng-repeat="category in categoryList" value="{{category.category_id}}">
                                    {{category.category_name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6 input-group">
                            <select class="form-control" ng-model="selectParams.brand_id" ng-change="searchSpu()">
                                <option value="">--请选择品牌--</option>
                                <option ng-repeat="brand in brandList" value="{{brand.brand_id}}">{{brand.brand_name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="table-responsive" style="margin-top: 10px">
                        <table class="table table-bordered table-striped">
                            <thead class="text-center">
                            <tr>
                                <th>选取</th>
                                <th>序号</th>
                                <th>服饰名</th>
                                <th>最低价格</th>
                                <th>所属品牌</th>
                                <th>所属类别</th>
                                <th class="text-center">添加时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" ng-repeat="spu in spuList">
                                <th><input type="radio" class="radio" id="{{spu.spu_id}}" name="radio"
                                           ng-model="isChecked" ng-click="selectSku(spu.spu_id)"></th>
                                <th scope="row">{{$index+1}}</th>
                                <td class="font-weight-bold"><a class="color-primary" href="javascript:void(0)" ng-click="toForm3(spu.spu_id)">{{spu.goods_name}}</a></td>
                                <td>￥{{spu.low_price}}</td>
                                <td><span class="badge badge-warning">{{spu.brand_name}}</span></td>
                                <td><span class="badge badge-primary">{{spu.category_name}}</span></td>
                                <td class="text-center">{{spu.gmt_create | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                            </tr>
                            <tr ng-if="spuList.length<=0">
                                <td colspan="15" style="text-align:center">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>

                        <ul uib-pagination class="pagination-md pagination-custom float-right"
                            style="margin-right: 20px"
                            total-items="selectParams.totalNum"
                            first-text="«"
                            last-text="»"
                            previous-text="上一页"
                            next-text="下一页"
                            force-ellipses="true"
                            max-size="5"
                            ng-change="loadData()"
                            rotate="true"
                            ng-model="selectParams.pageNum"
                            items-per-page="selectParams.pageSize"
                            class="pagination-sm page-right" boundary-links="true" boundary-link-numbers="true"></ul>
                    </div>

                    <div ng-if="isSelectSpu">
                        <div class="row">
                            <label class="col-md-5">
                                <label for="sku" class="col-form-label">已有规格:</label>
                                <select id="sku" class="form-control" ng-model="form1Params.sku_id"
                                        ng-change="addGoodsSpecId(spec,specId)" ng-required="true">
                                    <option value="">--请选择--</option>
                                    <option value="{{sku.sku_id}}" ng-repeat="sku in skuList">{{sku.spec_value}}
                                    </option>
                                </select>
                            </label>

                            <label class="col-md-5">
                                <label for="stock1" class="col-form-label">数量:</label>
                                <input id="stock1" class="form-control" type="number" ng-required="true"
                                       ng-model="form1Params.stock">
                            </label>
                        </div>

                        <button type="submit" class="btn btn-primary" form="editForm">进货</button>

                    </div>

                </form>
            </div>

            <div class="card-body" ng-if="addSkuType==2 && addSpuStep== 1">
                <form name="editForm2" role="form" id="editForm2" autocomplete="off" ng-submit="insertGoodsSpu()">
                    <div class="row">
                        <div class="col-md-6 input-group">
                            <label for="form2Params.brand_id" class="col-form-label">品牌:&nbsp;</label>
                            <select id="form2Params.brand_id" class="form-control" ng-model="form2Params.brand_id"
                                    ng-required="true">
                                <option value="">--请选择--</option>
                                <option ng-repeat="brand in brandList" value="{{brand.brand_id}}">{{brand.brand_name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6 input-group">
                            <label for="form2Params.category_id" class="col-form-label">类别:&nbsp;</label>
                            <select id="form2Params.category_id" class="form-control" ng-change="selectSpecByCategory()"
                                    ng-model="form2Params.category_id" ng-required="true">
                                <option value="">--请选择--</option>
                                <option ng-repeat="category in categoryList" value="{{category.category_id}}">
                                    {{category.category_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="spec_id" class="col-form-label">所选规格:</label>
                        <div id="spec_id" class="row">
                            <div class="col-md-3 checkbox checkbox-info"
                                 ng-repeat="spec in specList">
                                <input id="{{spec.spec_id}}" type="checkbox" name="role" ng-model="spec_check" ng-change="addGoodsSpecId(spec_check,spec.spec_name,spec.spec_id)">
                                <label class="font-weight-light" for="{{spec.spec_id}}"
                                       style="line-height: 16px">
                                    {{spec.spec_name}}
                                </label>
                            </div>
                            <label class="col-md-12 text-center" ng-if="specList.length <=0 ">暂无该类别规格</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="goods_name" class="col-form-label">服饰名:&nbsp;</label>
                            <input id="goods_name" type="text" class="form-control" placeholder="服饰名"
                                   ng-model="form2Params.goods_name" ng-required="true">
                        </div>
                        <div class="col-md-6">
                            <label for="goods_icon" class="col-form-label">服饰图片:&nbsp;</label>
                            <input id="goods_icon" type="file" class="form-control" ng-model="form2Params.category_id"
                                   ng-required="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="spu_order" class="col-form-label">优先级:&nbsp;</label>
                            <input id="spu_order" type="number" class="form-control"
                                   ng-model="form2Params.spu_order" ng-required="true">
                        </div>
                        <div class="col-md-6">
                            <label for="goods_low_price" class="col-form-label">最低价:&nbsp;</label>
                            <input id="goods_low_price" type="number" class="form-control"
                                   ng-model="form2Params.low_price" ng-required="true">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" form="editForm2">下一步</button>

                </form>
            </div>

            <div class="card-body" ng-if="addSkuType==2 && addSpuStep== 2">
                <form name="editForm3" role="form" id="editForm3" autocomplete="off" ng-submit="insertSku()">
                    <label class="col-form-label" ng-repeat="spec in form3SpecList.spec_name" style="margin-right: 20px;margin-top: 20px">
                        <label>{{spec}}:</label>
                        <select class="form-control" ng-model="specId" ng-change="addGoodsSku(spec,specId)"
                                ng-options="values[0] as values[1] for values in form3SpecList.spec_value[$index]" ng-required="true">
                            <option value="">--请选择--</option>
                        </select>
                    </label>
                    <div class="row">
                        <label style="margin-right: 10px">
                            <label for="price_input" class="col-form-label">进价:</label>
                            <input id="price_input" class="form-control" type="number" ng-required="true"
                                   ng-model="form3Params.price_input">
                        </label>

                        <label style="margin-right: 10px">
                            <label for="price_sale" class="col-form-label">卖价:</label>
                            <input id="price_sale" class="form-control" type="number" ng-required="true"
                                   ng-model="form3Params.price_sale">
                        </label>

                        <label style="margin-right: 10px">
                            <label for="stock" class="col-form-label">数量:</label>
                            <input id="stock" class="form-control" type="number" ng-required="true" ng-model="form3Params.stock">
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary" form="editForm3">进货</button>

                </form>

            </div>

        </div>
    </div>
</div>