<div class="ur_location">
    <a href="">我的购物</a>
    <span>&gt;</span>
    <a class="a_cur">我的收藏</a>
</div>
<!--{{collectList}}-->
<div class="row" style="margin-top: 20px;">

    <div class="col-md-2 text-center" style="margin: 10px;" ng-repeat="collect in collectList">
        <img ui-sref="public.goodsItem({spu_id:collect.spu_id})"  ng-src="data:image/jpg;base64,{{collect.file_content}}" style="width: 160px;height: 160px;object-fit: cover;cursor: pointer">
        <div style="width: 160px;border: 1px solid lightgrey">
            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: gray" title="{{collect.goods_name}}">{{collect.goods_name}}</p>
            <p style="text-align: left;font-size: 14px;color: cornflowerblue">最低价:
                <span style="color: orangered;font-size: 16px">￥{{collect.low_price}}</span>
                <i class="fa fa-remove" ng-click="deleteCollect(collect.collect_id)" style="margin-left: 30px;color: darkred;cursor: pointer"  title="删除"></i>
            </p>
        </div>
    </div>


</div>