<div class="main" style="height: 650px;margin-top: 20px">
    <div class="container-fluid" style="height: 100%;">
        <div class="card">

            <!-- modal:新增规格 -->
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="picModalModalLabel">新增规格值</h5>
                        </div>
                        <div class="modal-body">
                            <form name="editForm" role="form" id="editForm" autocomplete="off" ng-submit="insertSpecValue()">
                                <div class="form-group">
                                    <label for="spec_name" class="col-form-label">所属规格:</label>
                                    <input id="spec_name" type="text" class="form-control" ng-model="spec_name" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="editSpec_value" class="col-form-label">规格值:</label>
                                    <input id="editSpec_value" type="text" class="form-control" ng-model="editSpec_value" ng-required="true">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary" form="editForm">保存</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-title">
                <h4><i class="fa fa-sliders color-info"></i> <span class="color-danger">{{spec_name}}</span>规格值管理</h4>
                <a class="float-right" ui-sref="app.goodsSpec" style="margin-right: 30px"><i class="fa fa-arrow-left color-info"></i>返回</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 input-group">
                        <input class="form-control" placeholder="规格值" type="text" ng-model="selectParams.spec_value">
                        <span class="input-group-btn"><button class="btn btn-sm btn-primary" ng-click="searchSpec()"><i class="ti-search"></i></button></span>
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#addModal">新增</button>
                    </div>
                </div>

                <div class="table-responsive" style="margin-top: 10px">
                    <table class="table table-bordered table-striped">
                        <thead class="text-center">
                        <tr>
                            <th>序号</th>
                            <th>规格值</th>
                            <th>所属规格</th>
                            <th>添加时间</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" ng-repeat="specValue in specValueList">
                            <th scope="row">{{$index+1}}</th>
                            <td class="color-info font-weight-bold">{{specValue.spec_value}}</td>
                            <td><span class="badge badge-warning">{{spec_name}}</span></td>
                            <td>{{specValue.gmt_create | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-danger" title="删除" ng-click="deleteGoodsSpecValue(specValue.spec_value_id)"><i class="fa fa-close"></i></button>
                            </td>
                        </tr>
                        <tr ng-if="specValueList.length<=0">
                            <td colspan="15" style="text-align:center">暂无数据</td>
                        </tr>
                        </tbody>
                    </table>

                    <ul uib-pagination class="pagination-md pagination-custom float-right" style="margin-right: 20px"
                        total-items="selectParams.totalNum"
                        first-text="«"
                        last-text="»"
                        previous-text="上一页"
                        next-text="下一页"
                        force-ellipses="true"
                        max-size="5"
                        ng-change="loadData()"
                        rotate="true"
                        ng-model="selectParams.pageNum"
                        items-per-page="selectParams.pageSize"
                        class="pagination-sm page-right" boundary-links="true" boundary-link-numbers="true"></ul>

                </div>
            </div>
        </div>

    </div>
</div>
</div>