<div class="main" style="height: 650px;margin-top: 20px">
    <div class="container-fluid" style="height: 100%;">
        <div class="card">

            <!-- modal:新增分类 -->
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="picModalModalLabel">新增分类</h5>
                        </div>
                        <div class="modal-body">
                            <form name="editForm" role="form" id="editForm" autocomplete="off"
                                  ng-submit="insertCategory()">
                                <div class="form-group">
                                    <label for="category_step" class="col-form-label">分类级别:</label>
                                    <select id="category_step" class="form-control" ng-model="categoryStep"
                                            disabled>
                                        <option ng-selected="categoryStep == 1">一级分类</option>
                                        <option ng-selected="categoryStep == 2">二级分类</option>
                                    </select>
                                </div>
                                <div class="form-group" ng-if="categoryStep == 2">
                                    <label for="category_first_id" class="col-form-label">一级分类:</label>
                                    <div id="category_first_id" class="row">
                                        <div class="col-md-3 checkbox checkbox-info"
                                             ng-repeat="categoryFirst in allCategoryFirstList">
                                            <input id="{{categoryFirst.category_first_id}}" type="checkbox" name="role"
                                                   ng-model="GoodsCategoryFirstSelected"
                                                   ng-change="addGoodsCategoryFirst(GoodsCategoryFirstSelected,categoryFirst.category_first_id,categoryFirst.category_first_name)">
                                            <label class="font-weight-light" for="{{categoryFirst.category_first_id}}"
                                                   style="line-height: 16px">
                                                {{categoryFirst.category_first_name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="category_name" class="col-form-label">类别名:</label>
                                    <input type="text" class="form-control" id="category_name"
                                           ng-model="editCategory_name" ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label for="category_order" class="col-form-label">类别优先级:</label>
                                    <input id="category_order" type="number" class="form-control"
                                           ng-model="category_order" ng-required="true">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary" form="editForm">保存</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- modal:修改分类 -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalModalLabel">分类修改</h5>
                        </div>
                        <div class="modal-body">
                            <form name="editForm" role="form" id="editForm1" autocomplete="off"
                                  ng-submit="saveUpdateCategory()">
                                <div class="form-group">
                                    <label for="category_name" class="col-form-label">类别名:</label>
                                    <input type="text" class="form-control" id="category_name_edit"
                                           ng-model="category_name_edit" ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label for="category_order_edit" class="col-form-label">类别优先级:</label>
                                    <input id="category_order_edit" type="number" class="form-control"
                                           ng-model="category_order_edit" ng-required="true">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary" form="editForm1">保存</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-title">
                <h4><i class="fa fa-th-large color-info"></i> 商品分类</h4>
            </div>
            <ul class="nav nav-tabs">
                <li ng-class="{'active': categoryStep == 1}"><a href="" ng-click="categoryStep = 1">一级分类</a></li>
                <li ng-class="{'active': categoryStep == 2}"><a href="" ng-click="categoryStep = 2">二级分类</a></li>
            </ul>

            <div class="card-body" ng-if="categoryStep == 1">
                <div class="row">
                    <div class="col-md-6 input-group">
                        <input class="form-control" placeholder="类别名" type="text"
                               ng-model="selectFirstParams.categoryName">
                        <span class="input-group-btn"><button class="btn btn-sm btn-primary"
                                                              ng-click="searchCategory()"><i
                                class="ti-search"></i></button></span>
                    </div>

                    <div class="col-md-5">
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#addModal">
                            新增
                        </button>
                    </div>
                </div>

                <div class="table-responsive" style="margin-top: 10px">
                    <table class="table table-bordered table-striped">
                        <thead class="text-center">
                        <tr>
                            <th>序号</th>
                            <th>类别名</th>
                            <th>优先级</th>
                            <th>添加时间</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" ng-repeat="categoryFirst in categoryFirstList">
                            <th scope="row">{{$index+1}}</th>
                            <td class="color-primary font-weight-bold">{{categoryFirst.category_first_name}}</td>
                            <td><span class="badge badge-primary">{{categoryFirst.category_first_order}}</span></td>
                            <td>{{categoryFirst.gmt_create | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-success" title="修改"
                                        ng-click="updateCategory(categoryFirst.category_first_id,categoryFirst.category_first_name,categoryFirst.category_first_order)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-sm btn-danger" title="删除"
                                        ng-click="deleteCategory(categoryFirst.category_first_id)"><i class="fa fa-close"></i>
                                </button>
                            </td>
                        </tr>
                        <tr ng-if="categoryFirstList.length<=0">
                            <td colspan="15" style="text-align:center">暂无数据</td>
                        </tr>
                        </tbody>
                    </table>

                    <ul uib-pagination class="pagination-md pagination-custom float-right" style="margin-right: 20px"
                        total-items="selectFirstParams.totalNum"
                        first-text="«"
                        last-text="»"
                        previous-text="上一页"
                        next-text="下一页"
                        force-ellipses="true"
                        max-size="5"
                        ng-change="loadData()"
                        rotate="true"
                        ng-model="selectFirstParams.pageNum"
                        items-per-page="selectFirstParams.pageSize"
                        class="pagination-sm page-right" boundary-links="true" boundary-link-numbers="true"></ul>

                </div>
            </div>

            <div class="card-body" ng-if="categoryStep == 2">
                <div class="row">
                    <div class="col-md-6 input-group">
                        <input class="form-control" placeholder="类别名" type="text" ng-model="selectParams.categoryName">
                        <span class="input-group-btn"><button class="btn btn-sm btn-primary"
                                                              ng-click="searchCategory()"><i
                                class="ti-search"></i></button></span>
                    </div>

                    <div class="col-md-5">
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#addModal">
                            新增
                        </button>
                    </div>
                </div>

                <div class="table-responsive" style="margin-top: 10px">
                    <table class="table table-bordered table-striped">
                        <thead class="text-center">
                        <tr>
                            <th>序号</th>
                            <th>类别名</th>
                            <th>优先级</th>
                            <th>所属一级分类</th>
                            <th>添加时间</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" ng-repeat="category in categoryList">
                            <th scope="row">{{$index+1}}</th>
                            <td class="color-primary font-weight-bold">{{category.category_name}}</td>
                            <td><span class="badge badge-primary">{{category.category_order}}</span></td>
                            <td><span class="badge badge-dark">{{category.category_first_name}}</span></td>
                            <td>{{category.gmt_create | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-success" title="修改"
                                        ng-click="updateCategory(category.category_id,category.category_name,category.category_order)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-sm btn-danger" title="删除"
                                        ng-click="deleteCategory(category.category_id)"><i class="fa fa-close"></i>
                                </button>
                            </td>
                        </tr>
                        <tr ng-if="categoryList.length<=0">
                            <td colspan="15" style="text-align:center">暂无数据</td>
                        </tr>
                        </tbody>
                    </table>

                    <ul uib-pagination class="pagination-md pagination-custom float-right" style="margin-right: 20px"
                        total-items="selectParams.totalNum"
                        first-text="«"
                        last-text="»"
                        previous-text="上一页"
                        next-text="下一页"
                        force-ellipses="true"
                        max-size="5"
                        ng-change="loadData()"
                        rotate="true"
                        ng-model="selectParams.pageNum"
                        items-per-page="selectParams.pageSize"
                        class="pagination-sm page-right" boundary-links="true" boundary-link-numbers="true"></ul>

                </div>
            </div>
        </div>

    </div>
</div>
</div>