<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Student.mapper.MajorMapper" >
  <resultMap id="BaseResultMap" type="com.Student.model.Major" >
    <id column="majorId" property="majorid" jdbcType="INTEGER" />
    <result column="majorName" property="majorname" jdbcType="VARCHAR" />
    <result column="depId" property="depid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    majorId, majorName, depId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_major
    where majorId = #{majorid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_major
    where majorId = #{majorid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.Student.model.Major" >
    insert into tb_major (majorId, majorName, depId
      )
    values (#{majorid,jdbcType=INTEGER}, #{majorname,jdbcType=VARCHAR}, #{depid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.Student.model.Major" >
    insert into tb_major
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="majorid != null" >
        majorId,
      </if>
      <if test="majorname != null" >
        majorName,
      </if>
      <if test="depid != null" >
        depId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="majorid != null" >
        #{majorid,jdbcType=INTEGER},
      </if>
      <if test="majorname != null" >
        #{majorname,jdbcType=VARCHAR},
      </if>
      <if test="depid != null" >
        #{depid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Student.model.Major" >
    update tb_major
    <set >
      <if test="majorname != null" >
        majorName = #{majorname,jdbcType=VARCHAR},
      </if>
      <if test="depid != null" >
        depId = #{depid,jdbcType=INTEGER},
      </if>
    </set>
    where majorId = #{majorid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Student.model.Major" >
    update tb_major
    set majorName = #{majorname,jdbcType=VARCHAR},
      depId = #{depid,jdbcType=INTEGER}
    where majorId = #{majorid,jdbcType=INTEGER}
  </update>

  <select id="selectMajorByDepId" resultType="com.Student.model.Major">
      select * from tb_major where depId = #{depId}
  </select>

</mapper>