<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>movie</title>
    <link rel="shortcut icon" href="../../images/favicon.ico"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>

<div ng-app="movieApp" ng-controller="movieCtrl" style="margin-top: 65px">

    <button ng-click="insertMovie()">添加电影</button>

    <form class="needs-validation" novalidate style="margin: 10px">
        <div class="form-row col-5" style="margin: 0 auto">
            <div class="input-group">
                <input class="form-control mr-sm-2" ng-model="selectparams.movieName" placeholder="视频名"
                       aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="button" ng-click="selectMovie()">搜索</button>
            </div>
        </div>
    </form>

    <div class="card-columns">
        <div class="card" style="" ng-repeat="movie in allMovie">
            <div class="card-body" style="position:relative">
                <img class="card-img-top" ng-src="{{movie.picPath}}" alt="{{movie.movieName}}"
                     onerror="this.src='http://fs.zhenjiang365.cn/bbsimg/fcmb/image/nopic590.jpg'"
                     style="width: 105px;height: 140px;display: inline-block">
                <span class="card-title" style="position:absolute; left:160px; top:25px;font-size: 20px;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;
            white-space:nowrap;width:240px;height:24px;display:block;">{{movie.movieName}}</span>
                <span class="card-text" style="position:absolute; left:160px; top:55px;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;
            white-space:nowrap;width:240px;height:24px;display:block;">类别:{{movie.movieType}} 地区:{{movie.address}}</span>
                <span class="card-text" style="position:absolute; left:160px; top:85px;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;
            white-space:nowrap;width:240px;height:24px;display:block;">上映时间:{{movie.movieYear}}</span>
                <span class="card-text" style="position:absolute; left:160px; top:115px;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;
            white-space:nowrap;width:240px;height:24px;display:block;">导演:{{movie.director}} 评分:{{movie.score}}</span>
                <a ng-href="{{movie.downloadPath}}" style="position:absolute; left:160px; top:140px;">下载地址</a>
            </div>
        </div>
    </div>

    <ul uib-pagination class="pagination-md pagination-custom"
        total-items="selectparams.totalNum"
        first-text="«"
        last-text="»"
        previous-text="上一页"
        next-text="下一页"
        force-ellipses="true"
        max-size="5"
        ng-change="selectMovie()"
        rotate="true"
        ng-model="selectparams.pageNum"
        items-per-page="selectparams.pageSize"
        class="pagination-sm page-right" boundary-links="true" boundary-link-numbers="true" ></ul>

    <!-- 回到顶部按钮 -->
    <a href="javascript:window.scrollTo({top:0,behavior:'smooth'})"
       style="position: fixed;display: block;right: 80px;bottom: 80px;z-index:9999;"><img src="../../images/toTop.ico"
                                                                                          style="width: 40px;height: 40px"></a>

</div>

</body>

<script type="text/javascript" src="../../js/jquery2.2.2.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/angular.min.js"></script>
<script type="text/javascript" src="../../js/movie.js"></script>
<script type="text/javascript" src="../../js/ui-bootstrap-tpls.js"></script>
</html>