<header class="bar bar-header bar-positive"></header>

<ion-content>

    <ion-refresher pulling-text="下拉刷新" on-refresh="onRefresh()"></ion-refresher>

    <ion-list>
        <ion-item ng-repeat="video in videoList">
            <!--缩略图-->
            <a class="item" ui-sref="videoEdit({videoId:video.videoId})" on-hold="alertMenu(video.videoId,video.title,video.fileId)">
                <h2 style="font-weight: bold;text-align: center;color: #0a9dc7">{{video.title}}</h2>
                <video controls="controls" style="width: 100%;height: 200px">
                    <source ng-src="{{videoUrl(video.file)}}">
                </video>
                <h3 style="text-align: right;margin-top: 10px;color: gray">{{video.putDate | date:'yyyy/MM/dd HH:mm'}}</h3>
            </a>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="isLoadMore" on-infinite="loadMore()" immediate-check="false" distance="1%">
    </ion-infinite-scroll>
</ion-content>
